*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: rgb(51, 82, 86);
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin: 0 auto;
}
header{
    background-color:#5a71bb;
    text-align: center;
    color: white;
    padding:  20px 0;
    border-radius: inherit;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.lista-cadastro{
    display: flex;
    margin: 20px auto;
    
}
.lista-cadastro input[type=text]{
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    flex: 1;
    height: 40px;
    padding-left: 20px;
    border: 1px solid black;
    margin-left: 4px;
    cursor: pointer;
}
.lista-cadastro input[type=submit]{
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    background-color: rgb(9, 50, 141);
    border: 1px solid black;
    padding: 6px;
    margin-right: 4px;
    cursor: pointer;
}
.lista-cadastro input[type=number]{
    width: 80px;
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
}
/*//////////////////////////////////////////////////////*/
.lista-produtos-single{
    padding: 10px 0;
    margin: 20px 0;
    border-bottom:1px solid #ccc;
    display: flex;
}
.lista-produtos-single h3{
    flex:1;
    padding:  0 20px;
}
h3.price-produto{
    text-align: right;
    font-size: 16px;
}
h3.price-produto > span{
    background-color:#5a71bb;
    padding: 8px 10px;
    border-radius: 20px;
    color: white;
}
.soma-produto{
    margin: 20px;
}
button{
    float: right;
    padding: 6px;
    width: 80px;
    border-radius: 50px;
    border:none;
    font-size: 16px;
    margin-right:40px ;
    margin-top: -14px;
    cursor: pointer;
}

.cobertura{
    border: 2px solid black;
    padding:0 0 20px 0;
    border-radius: 10px;
    margin-top: 40px;
    height:auto;
    background-image: linear-gradient(
    rgb(212, 241, 246),
    rgb(90, 167, 181));
}